<%- include("partials/headerchef"); -%>
<section id="home-heading" style="margin-bottom: 120px;">
    <div class = "container heading-box">

        <!-- Title -->

        <div class="row row-home">
            <div class = "col-lg-6">
                <h1 class = "big-heading">Welcome to the</h1>
                <h1 class = "big-heading">Kitchen Chef </h1>

                <p class="heading-para mt-3">Welcome to the kitchen, Chef! Dive into the world of swift culinary execution. Feel the rhythm of our bustling kitchen as we urge you to complete orders promptly. Your journey to fulfilling orders quickly begins here!</p>
                <a href="/orderchef">
                    <button class = "btn btn-dark btn-lg download-button" type="button">Complete Orders</button>
                </a>
            </div>
            <div class = "col-lg-6">
                <img class = "balle" src="images/canteencan.png" alt="donate-mockup">
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer"); -%>