<%- include("partials/header"); -%>
<section id="home-heading">
    <div class = "container heading-box">


        <!-- Title -->
        
        <div class="row row-home">
            <div class = "col-lg-6">
                <h1 class = "big-heading">Welcome to </h1>
                <h1 class = "big-heading">Student Centre </h1>

                <p class = "heading-para mt-3">We're here to provide an exceptional dining experience for college students. Enjoy delicious meals, snacks, and beverages in our vibrant and welcoming canteen, the heart of campus. Fuel your studies and socializing with us!</p>
              <a href="/order">
                <button class = "btn btn-dark btn-lg download-button" type="button">ORDER NOW</button>
              </a>
            </div>
            <div class = "col-lg-6">
                <img class = "balle" src="images/canteencan.png" alt="donate-mockup">
            </div>
        </div>
    </div>
</section>

    <div class = "row" >
        <div class = "feature-box col-lg-4">
            <i class="icon fa-solid fa-seedling fa-4x" style = "color: #F1A250"></i>
            <h3>CONVENIENT ONLINE ORDERING</h3>
            <div class = "item-row">
                <p>Allow you to conveniently place your food orders online, eliminating long queues and saving time.</p>
            </div>
        </div>

        <div class = "feature-box col-lg-4">
            <i class="icon fa-solid fa-seedling fa-4x " style = "color: #F1A250"></i>
            <h3>CASHLESS TRANSACTIONS</h3>
            <div class = "item-row">
                <p>Convenient cashless payments with student ID or mobile app. No need to worry about carrying cash or cards.</p>
            </div>
        </div>

        <div class = "feature-box col-lg-4">
            <i class="icon fa-solid fa-seedling fa-4x" style = "color: #F1A250"></i>
            <h3>RESPONSIVE CUSTOMER SUPPORT</h3>
            <div class = "item-row" >
                <p>Our friendly staff is available to assist you, address your inquiries, and listen to your feedback to continually improve our services.</p>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>
